<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" th:text="#{title}">Restaurant On-line</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/menu" th:text="#{menu}">Menu</a></li>
                    <li><a href="/order" th:text="#{ordering}">Order</a></li>
                    <!-- <li><a href="#" th:text="#{configuration}">Configuration</a></li> -->
                    <li><a href="/orders" th:text="#{orders}">Orders</a></li>
                    <li><a href="/about" th:text="#{about}">About</a></li>
                </ul>
            </div>
        </div>
</nav>
</header>